{% extends "base/frame.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/assets/css/front/start.css?=sdfsdf">
	{% endblock %}

	{% block main %}
		<section role="start">
			<div role="index-wrapper">
				<div role="index-search">
					<form action="{{ path('index') }}" method="post" enctype="multipart/form-data">
						<input type="text" name="index_search" value="" placeholder="SEARCH ME!"/>
						<button>
							<i class="ti ti-search"></i>
						</button>
					</form>
				</div>


				<div role="index-results">
					{% if options.items is defined %}
						<h1>Found Stuff for:
							{{ options.terms }}</h1>
						{% for item in options.items %}
							<a class="search-link" href="/location/{{ item.uuid }}">{{ item.name }}</a><br/>
						{% endfor %}
					{% endif %}
					{{ options.count }}
					Bad Spaces tracked. Shot by
					<a href="https://unsplash.com/photos/935EcPU1pBI">Ussama Azam</a>
				</div>

			</div>


		</section>
	{% endblock %}
