section[role="den-login"] {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  color: var(--highlight);
}

section[role="den-login"] div[role="system-notice"] {
  border-radius: 3px;
  padding: 3px;
  background: var(--highlight);
  color: var(--primary);
}

section[role="den-index"] {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  color: var(--white);
}

section a {
  color: var(--white);
  border-bottom: 1px solid var(--highlight);
}

section a:hover {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 2px;
}
