section[role="loc-index"] {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
}

section[role="loc-index"] img {
  width: 150px;
  vertical-align: top;
  border-radius: 3px;
}

section[role="loc-index"] label {
  color: var(--white);
}

section[role="loc-index"] input {
  width: 290px;
}

section[role="loc-index"] textarea {
  width: 290px;
  padding: 5px;
  height: 100px;
}

section[role="loc-index"] select {
  width: 150px;
}
