:root {
  /* BASE COLORS */
  --primary: #140c08;
  --secondary: #d66365;
  --highlight: #69b04f;
  --white: #efebe3;
  --grey: #abb7b7;
  --black: #32302f;
  --error: #b62520;
  --silence: #ea6010;
  --suspend: #fb263a;
  --primary-rgb: 20 13 13;
}
