input[type="email"],
input[type="password"],
input[type="text"] {
  border: 0;
  padding: 5px;
  border-radius: 5px;
  font: 18px var(--base-type);
  display: inline-block;
  background: var(--white);
  color: var(--primary);
  transition: all 0.2s linear;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: solid var(--highlight);
  background-color: var(--highlight);
}

textarea {
  border: 0;
  border-radius: 3px;
  color: var(--primary);
  background: var(--white);
}

button,
input[type="submit"] {
  background: var(--highlight);
  color: var(--white);
  font: 20px var(--base-type);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  border: 0;
  transition: all 0.3s linear;
}

select {
  font: 20px var(--base-type);
  border-radius: 5px;
  border: 1px solid var(--primary);
  appearance: none;
  color: var(--primary);
  background: var(--secondary);
}
