section[role="exports"] {
  background: var(--primary);
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  color: var(--white);
}

section[role="exports"] a {
  color: var(--highlight);
}
