section.index-search {
  width: 100%;
  background: var(--white);
}

section.start a.search-link {
  color: var(--highlight);
  font-size: 2.5em;
  font-weight: bold;
  border: 0;
  display: block;
}

form.index-search-form {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
}

form.index-search-form > input[type="text"] {
  width: 88%;
  height: 50px;
  font: 44px var(--base-type);
}

form.index-search-form > button {
  height: 60px;
  width: 60px;
  position: relative;
  top: 9px;
  right: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--highlight);
}

section.index-meta article {
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  form.index-search-form > input[type="text"] {
    width: 85%;
    height: 50px;
    font: 34px var(--base-type);
  }
}
