section[role="listings"] {
  background: var(--primary);
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  color: var(--white);
}

section[role="listings"] a {
  color: var(--highlight);
  font-size: 2em;
  font-weight: bold;
  border: 0;
}

section[role="listings"] a label {
  color: var(--secondary);
  font-size: 0.3em;
  text-decoration: underline;
  font-family: var(--mono-type);
}

section[role="listings"] a:hover {
  color: var(--white);
}

section[role="listings"] div[role="paginate"] {
  padding: 5px;
}

section[role="listings"] div[role="paginate"] span {
  vertical-align: super;
  font-weight: bold;
  font-size: 1.5em;
}

a.list-link {
  display: grid;
  grid-template-columns: 30px 50px 300px;
  width: 80%;
  height: 45px;
}
