section[role="location"] {
  background: var(--primary);
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  color: var(--white);
}

section[role="location"] img {
  width: 33%;
  border-radius: 3px;
  overflow: hidden;
  vertical-align: top;
}

.rating-icon {
  width: 45px;
  top: 10px;
  position: relative;
}
